<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报价详情</title>
<script type="text/javascript" src="lib/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="lib/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/js/angular.min.js"></script>
<link rel="stylesheet" href="lib/css/bootstrap.min.css">
<link rel="stylesheet" href="lib/css/bootstrap-theme.min.css">

<style>
</style>
</head>
<body>
<div class="container">
    <div id="header"></div>
    <div class="panel-group">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>水处理系统</h4></div>
            <div class="panel-body" ng-app="details" ng-controller="detailsCtrl">

                <div ng-repeat="section in sections" ng-attr-id="section.section_id">
                    <h5 ng-bind="section.name">模块名称</h5>
                    <hr/>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>项目明细</th>
                                <th>规格型号</th>
                                <th>品牌或产地</th>
                                <th>单位</th>
                                <th>数量</th>
                                <th>单价(元)</th>
                                <th>总价(元)</th>
                                <th>折扣</th>
                                <th>合价(元)</th>
                                <th>备注</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="material in section.materials" ng-attr-id="material_id">
                                <td ng-bind="material.sequence">1</td>
                                <td ng-bind="material.name">304不锈钢过滤器</td>
                                <td ng-bind="material.spec">Ф1800</td>
                                <td ng-bind="material.brand">广州潮流</td>
                                <td ng-bind="material.unit">台</td>
                                <td ng-bind="material.default_quantity">1</td>
                                <td ng-bind="material.unit_price">40500</td>
                                <td ng-bind="material.original_price">40500</td>
                                <td ng-bind="material.discount">0.9</td>
                                <td ng-bind="material.final_price">36450</td>
                                <td ng-bind="material.comments"></td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td>水泵</td>
                                <td>7.5kw</td>
                                <td><label>
                                    <select class="form-control">
                                        <option value="0">上海或广东</option>
                                        <option value="1">凯泉</option>
                                        <option value="2">连成</option>
                                        <option value="3">肯富来</option>
                                    </select>
                                </label></td>
                                <td>台</td>
                                <td>1</td>
                                <td>5100</td>
                                <td>5100</td>
                                <td>1.0</td>
                                <td>5100</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="panel-footer">
            <button id="submit" type="button" class="btn btn-default" onclick="queryId();">提交</button>
        </div>
    </div>
</div>
<hr/>
<div id="result" class="container">
</div>
<div id="footer"></div>
</body>
</html>